XML/საბოლოო_გამოცდა/გამოცდა/engine.XSD

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:group name="engine">
		<xs:sequence>
			
			<xs:element name="engine">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="model" type="xs:string"/>
						<xs:element name="displacement" type="xs:string"/>
						<xs:element name="power" type="xs:string"/>
						<xs:element name="redline" type="xs:string"/>
						<xs:element name="bore" type="xs:string"/>
						<xs:element name="stroke" type="xs:string"/>
						<xs:element name="compression_ratio" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			
			
			
		</xs:sequence>
	</xs:group>
	
	<xs:element name="engines">
	
		<xs:complexType>
			<xs:sequence>
			
				<xs:element name="bmw">
					<xs:complexType>
						<xs:sequence>
							
							<xs:element name="straight_6">
								<xs:complexType>
									<xs:group ref="engine"   minOccurs="0" maxOccurs="5"/>
								</xs:complexType>
							</xs:element>
							
							<xs:element name="V8_style">
								<xs:complexType>
									<xs:group ref="engine"   minOccurs="0" maxOccurs="5"/>
								</xs:complexType>
							</xs:element>
							
						</xs:sequence>
					</xs:complexType>
					
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		
	</xs:element>
	
</xs:schema>